<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <!-- <p>You're logged in with the MEAN Stack & Angular 2!!</p> -->
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.id}})
            + <a (click)="addToPlaylist(game._id)">Add To Playlist</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>
