<div class="col-md-6 col-md-offset-3">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <!-- <p>You're logged in with the MEAN Stack & Angular 2!!</p> -->
    <h3>All registered games:</h3>
    <ul>
        <li *ngFor="let game of games">
            <a><img src="/assets/images/{{game.name}}.jpg" style="width:128px;height:128px;"></a>
            {{game.name}} ({{game.Description}} {{game.users}})
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>
